table{
    border: solid #3a4965 22px;
    color: #484848;
    font-family: 'Arimo', sans-serif;
}
td{
    width: 310px;
    height: 69px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}
.pricing-plan{
    font-size: 18px;
}
.span-for-pricing{
    font-size: 30px;
}
.button{
    font-size: 24px;
}
.color-green{
    background-color: #89c331;
}
.color-green:hover{
    background-color: #76aa2a;
}
.color-pink{
    background-color: #f04a56;
}
.color-pink:hover{
    background-color: #d0424e;
}
.color-blue{
     background-color: #20807c;
 }
.color-blue:hover{
    background-color: #1e726e;
}
.price{
    font-size: 60px;
}
.bold{
    font-weight: bold;
}
.cost{
    position: absolute;
    font-size: 24px;
}
.per-month{
    font-size: 18px;
}
.gray-color{
    background-color: #f2f2f2;
}
.space-grey-color{
    background-color: #e3e3e3;
}
.footer-menu{
    height: 110px;
}
.click{
    width: 192px;
    height: 49px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px;
}
.color-dark{
    background-color: #484848;
}
.color-dark:hover{

    background-color: #404040;
}
.fas{
    padding-right: 8px;
}
.click:hover{
    box-shadow: 5px 5px 13px 0 #00000096;
}